{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
	<div class="jumbotron">
		<h1 class="display-4">To-Do App</h1>
		<p class="lead">Just another to-do app.</p>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form method="post" action="/add-todo">
				<div class="mb-3">
					<label for="new-todo-item">New Todo</label>
					<input 
						type="text" 
						class="form-control" 
						id="new-todo-item" 
						name="new-todo-item" 
						placeholder="Get stuff done!"
					/>
				</div>
				<button class="btn btn-primary mb-4" type="submit">
					Add Todo
				</button>
			</form>
			<h2>Items</h2>
			<ul class="list-group mb-4">
				<!-- List the todo items here -->
				{% for item in todo_items %}
					<li class="list-group-item">
						{{ item.title }}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}