{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
	<div class="jumbotron">
		<h1 class="display-4">To-Do App</h1>
		<p class="lead">Just another to-do app.</p>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form method="post" action="/todo/add" class="border py-3 px-4 mb-5">
				<h6 class="mb-3">Add New To Do</h6>
				<div class="mb-3">
					<div class="form-group">
						<label for="new-todo-item">
							Name
						</label>
						<input 
							type="text" 
							class="form-control" 
							id="todo-name" 
							name="todo-name" 
							placeholder="Get stuff done!"
						/>
					</div>
					<div class="form-group">
						<label for="todo-description">
							Description
						</label>
						<input 
							type="text" 
							class="form-control" 
							id="todo-description" 
							name="todo-description" 
							placeholder="Description"
						/>
					</div>
					<div class="form-group">
						<label for="todo-due-date">Due Date</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span 
									class="input-group-text material-icons" 
									id="basic-addon1">
									event
								<span>
							</div>
							<input 
								type="text" 
								class="form-control" 
								placeholder="dd/mm/yyyy" 
								id="todo-due-date"
								name="todo-due-date"
							/>
						</div>
					</div>
					<div class="">
						<button class="btn btn-primary" type="submit">Add Todo</button>
					</div>
				</div>
			</form>

			<h2>
				Items
				<span class="badge badge-primary">
					{{ num_todos }}
				</span>
			</h2>
			<p>
				{% if num_todos == 0 %}
					Nothing here yet!
				{% elif num_complete_todos == num_todos %}
					Everything is complete, you can relax for now!
				{% else %}
					What are you waiting for, there's {{ num_todos - num_complete_todos }} left!
				{% endif %} 
			</p>
			<ul class="list-group mb-4">
				<!-- List the todo items here -->
				{% for item in todo_items %}
					<li class="list-group-item {{ 'complete' if item.status == 'Completed' else '' }}">
						<form method="post" action="/todo/change-status/{{ item.id }}">
							<button>
								<span class="material-icons complete-btn">
									{% if item.status == 'Completed' %}
										check_box
									{% else %}
										check_box_outline_blank
									{% endif %}
								</span>
							</button>
						</form>
						<h6 class="d-inline-block">{{ item.name }}</h6>
						{% if item.description != '' %}
							<p class="mb-0 pl-2 text-secondary">{{ item.description }}</p>
						{% endif %}
						<form method="post" action="/todo/delete/{{ item.id }}" id="delete-form">
							<button class="delete-btn" title="Delete: {{ item.name }}">
								<span class="material-icons">
									delete
								</span>
							</button>
						</form>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}