{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h1>User Management</h1>

		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Username</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td> {{ user.id }} </td>
						<td> {{ user.username }} </td>
						<td>
							<form action="/user/management/update/{{user.id}}" method="post">
								<select class="form-select" name="role">
									{% for role in roles.list() %}
										<option 
											value="{{ role }}"
											{{ "selected" if user.role == role }}
										>
											{{ role }}
										</option>
									{% endfor %}
								</select>
								<button class="btn btn-primary">Update</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>	
{% endblock %}